# SPDX-License-Identifier: Apache-2.0

# hardware configuration
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=80000000

# periphery drivers
CONFIG_GPIO=y
CONFIG_SERIAL=y

# operating system
CONFIG_HW_STACK_PROTECTION=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_CLOCK_CONTROL=y
CONFIG_PINCTRL=y
CONFIG_USE_DT_CODE_PARTITION=y
CONFIG_PICOLIBC=y
CONFIG_DEBUG_THREAD_INFO=y
CONFIG_INIT_STACKS=y

