/ {
	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
	};

	status_leds: status_leds {
		compatible = "benediktibk,status-leds";
		status = "okay";
		system-active-gpios = <&gpioc 15 GPIO_ACTIVE_HIGH>;
		error-gpios = <&gpioc 14 GPIO_ACTIVE_HIGH>;
		debug-gpios = <&gpioc 13 GPIO_ACTIVE_HIGH>;
	};
};

&clk_hsi {
	status = "okay";
	clock-frequency = <DT_FREQ_M(16)>;
};

&pll {
	status = "okay";
	div = <2>;
	mul = <4>;
	clocks = <&clk_hsi>;
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(32)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <1>;
	apb2-prescaler = <1>;
};

&usart1 {
	status = "okay";
	pinctrl-0 = <&usart1_tx_pa9>,
				<&usart1_rx_pa10>;
	pinctrl-names = "default";
	current-speed = <115200>;
};

&lpuart1 {
	status = "okay";
	pinctrl-0 = <&lpuart1_tx_pb10>,
				<&lpuart1_rx_pb11>;
	pinctrl-names = "default";
	current-speed = <115200>;
};

&flash0 {
	reg = <0x8000000 0x30000>;
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <0x1>;
		#size-cells = <0x1>;

		main_partition: main_partition@0 {
			label = "main";
			reg = <0x0 0x30000>;
			read-only;
		};
	};
};

&sram0 {
	reg = <0x20000000 0x1800>;
};