source "Kconfig.zephyr"

menu "battery management system"

menuconfig BATTERY_MANAGEMENT_SYSTEM_LOG
	bool "Enable battery management system logging and debugging"
	select LOG
	help
	  Enable logging of battery management system

module = BATTERY_MANAGEMENT_SYSTEM
module-dep = BATTERY_MANAGEMENT_SYSTEM_LOG
module-str = Log level for battery management system
module-help = Enables log levels for battery management system
source "subsys/net/Kconfig.template.log_config.net"

menuconfig STATUS_LEDS
	bool "status leds"
	default y
	depends on DT_HAS_BENEDIKTIBK_STATUS_LEDS_ENABLED

config STATUS_LEDS_POST_KERNEL_INIT_PRIORITY
	int "initialization priority for status leds"
	default 80
	depends on STATUS_LEDS

menuconfig CELL_VOLTAGE
	bool "cell voltage"
	default y
	depends on DT_HAS_BENEDIKTIBK_CELL_VOLTAGE_ENABLED

config CELL_VOLTAGE_POST_KERNEL_INIT_PRIORITY
	int "initialization priority for cell voltage"
	default 80
	depends on CELL_VOLTAGE

menuconfig CELLS_MEASUREMENT
	bool "cells measurement"
	default y
	depends on DT_HAS_BENEDIKTIBK_CELLS_MEASUREMENT_ENABLED

config CELLS_MEASUREMENT_POST_KERNEL_INIT_PRIORITY
	int "initialization priority for cells measurement"
	default 80
	depends on CELLS_MEASUREMENT

menuconfig POWER_CONTROL
	bool "power control"
	default y
	depends on DT_HAS_BENEDIKTIBK_POWER_CONTROL_ENABLED

config POWER_CONTROL_POST_KERNEL_INIT_PRIORITY
	int "initialization priority for power control"
	default 80
	depends on POWER_CONTROL

menuconfig CELL_BALANCER
	bool "cell balancer"
	default y
	depends on DT_HAS_BENEDIKTIBK_CELL_BALANCER_ENABLED

config CELL_BALANCER_POST_KERNEL_INIT_PRIORITY
	int "initialization priority for cell balancer"
	default 80
	depends on CELL_BALANCER

config BMS_LOOP_TIME_MS
	int "loop time for BMS in ms"

config MAXIMUM_BMS_PCB_TEMPERATURE_CELSIUS
	int "maximum BMS PCB temperature in degree celsius"

endmenu